body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    color: red;
    text-shadow: 2px 2px 4px #FF0000;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* Box */
    border: 2px solid red;
    width: 60px;
    height: 60px;
    margin: 2.5px;
    background-color: red;
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color: white;
}

.keyboard-row {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid red;
    background-color: red;
    color: black;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#answer {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    color: red;
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red;
}


.enter-key-tile {
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid red;
    background-color: red;
    color: black;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#congrats-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    color: white;
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    animation: congrats-animation 1s ease-in-out;
}

@keyframes congrats-animation {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }

    50% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.2);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1);
    }
}